#s-about {
  padding: $gap-4 10px;
  background-color: $bg-main;

  @include responsive-desktop {
    padding: $gap-4 20px;
  }

  .grid-layout {
    > div {
      @include flexbox-between;

      @include responsive-mobile {
        flex-direction: column-reverse;
        gap: $gap-3;
        justify-content: center;
      }

      p {
        color: $color-white;
        font: {
          size: 1.75rem;
          weight: 500;
        }
        line-height: 2.5rem;
        max-width: 70%;

        @include responsive-mobile {
          text-align: center;
        }
      }
    }
  }
}
